@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/TL-Logo-small.png" alt="BMA Logo" />
</div>